* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #032955;
  padding: 15px 30px;
}

nav h1 {
  color: white;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav ul a:hover {
  text-decoration: underline;
}
