* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: cornflowerblue;
}

.app {
  width: 420px;
  margin: 80px auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}


form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

input:focus {
  outline: none;
  border-color: #4f46e5;
}


button {
  padding: 10px 15px;
  background: blue;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background: #4338ca;
}


ul {
  list-style: none;
}

li {
  background: #f9fafb;
  padding: 12px 14px;
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


li span {
  cursor: pointer;
  font-size: 15px;
}


li button {
  background:black;
  padding: 6px 10px;
}

li button:hover {
  background: #dc2626;
}
